li:hover{

    background-color: #FF9F9F;
    border-radius: 5px;
    
}

li:hover a{

    color: #FFFAD7 !important;
    
}

.aktif {
    color:rgb(78, 148, 209) !important;
    font-weight: bold;
}

.modal img {
    height: 300px;
    object-fit: cover;
}